In [3]:
%load_ext lab_black
import zipfile
import pandas as pd

zip_path = "heart+disease.zip"
load_path = "./"

zip_file = zipfile.ZipFile(zip_path, "r")
zip_file.extractall(load_path)
zip_file.close()

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [8]:
df = pd.read_csv("processed.cleveland.data").sort_values("63.0", ascending=False)
df

,63.0,1.0,1.0.1,145.0,233.0,1.0.2,2.0,150.0,0.0,2.3,3.0,0.0.1,6.0,0
160,77.0,1.0,4.0,125.0,304.0,0.0,2.0,162.0,1.0,0.0,1.0,3.0,3.0,4
256,76.0,0.0,3.0,140.0,197.0,0.0,1.0,116.0,0.0,1.1,2.0,0.0,3.0,0
232,74.0,0.0,2.0,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1.0,3.0,0
102,71.0,0.0,3.0,110.0,265.0,1.0,2.0,130.0,0.0,0.0,1.0,1.0,3.0,0
41,71.0,0.0,2.0,160.0,302.0,0.0,0.0,162.0,0.0,0.4,1.0,2.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,35.0,1.0,4.0,126.0,282.0,0.0,2.0,156.0,1.0,0.0,1.0,0.0,7.0,1
137,35.0,1.0,4.0,120.0,198.0,0.0,0.0,130.0,1.0,1.6,2.0,0.0,7.0,1
224,34.0,0.0,2.0,118.0,210.0,0.0,0.0,192.0,0.0,0.7,1.0,0.0,3.0,0
100,34.0,1.0,1.0,118.0,182.0,0.0,2.0,174.0,0.0,0.0,1.0,0.0,3.0,0
131,29.0,1.0,2.0,130.0,204.0,0.0,2.0,202.0,0.0,0.0,1.0,0.0,3.0,0

In [9]:
df = pd.read_csv("heart_cleveland_upload.csv").sort_values("age", ascending=False)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
155,77,1,3,125,304,0,2,162,1,0.0,0,3,0,1
72,76,0,2,140,197,0,1,116,0,1.1,1,0,0,0
23,74,0,1,120,269,0,2,121,1,0.2,0,1,0,0
156,71,0,3,112,149,0,0,125,0,1.6,1,0,0,0
24,71,0,1,160,302,0,0,162,0,0.4,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2,1
22,34,1,0,118,182,0,2,174,0,0.0,0,0,0,0
70,34,0,1,118,210,0,0,192,0,0.7,0,0,0,0
71,29,1,1,130,204,0,2,202,0,0.0,0,0,0,0