# Pre

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
from scipy import stats
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from math import sqrt
from sklearn.metrics import r2_score

In [15]:
df = pd.read_csv('/content/AB_NYC_2019.csv')

In [16]:
# esse método cat.codes é só pra fazer uma análise sem precisar usar label encoder

df['neighbourhood_group']= df['neighbourhood_group'].astype("category").cat.codes
df['neighbourhood'] = df['neighbourhood'].astype("category").cat.codes
df['room_type'] = df['room_type'].astype("category").cat.codes

In [17]:
df['price_log'] = np.log(df.price+1)

In [18]:
# tirando colunas que nao serão usadas
df = df.drop(columns=['name','id' ,'host_id','host_name', 
                                   'last_review','price'])

In [19]:
mean = df['reviews_per_month'].mean()
df['reviews_per_month'].fillna(mean, inplace=True)

In [20]:
df_x = df.iloc[:,:-1]
df_x

       neighbourhood_group  ...  availability_365
0                        1  ...               365
1                        2  ...               355
2                        2  ...               365
3                        1  ...               194
4                        2  ...                 0
...                    ...  ...               ...
48890                    1  ...                 9
48891                    1  ...                36
48892                    2  ...                27
48893                    2  ...                 2
48894                    2  ...                23

[48895 rows x 10 columns]

In [21]:
df_y = df.iloc[:,-1]
df_y

0        5.010635
1        5.420535
2        5.017280
3        4.499810
4        4.394449
           ...
48890    4.262680
48891    3.713572
48892    4.753590
48893    4.025352
48894    4.510860
Name: price_log, Length: 48895, dtype: float64

In [22]:
# normalização

scaler = StandardScaler()
df_x = scaler.fit_transform(df_x)

In [23]:
# divisão

X_train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.3, random_state=42)

# code

In [24]:
from sklearn.svm import SVR 
regressor = SVR(kernel = 'rbf') 
regressor.fit(X_train, y_train)

SVR()

In [25]:
y_pred_svr = regressor.predict(X_test)

In [26]:
print('RMSE: %f'% np.sqrt(metrics.mean_squared_error(y_test,y_pred_svr)))   
print('R2 %f' % r2_score(y_test, y_pred_svr))

RMSE: 0.446623
R2 0.577951

# Pre

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
from scipy import stats
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from math import sqrt
from sklearn.metrics import r2_score

In [28]:
df = pd.read_csv('/content/AB_NYC_2019.csv')

In [29]:
# esse método cat.codes é só pra fazer uma análise sem precisar usar label encoder

df['neighbourhood_group']= df['neighbourhood_group'].astype("category").cat.codes
df['neighbourhood'] = df['neighbourhood'].astype("category").cat.codes
df['room_type'] = df['room_type'].astype("category").cat.codes

In [30]:
df['price_log'] = np.log(df.price+1)

In [31]:
# tirando colunas que nao serão usadas
df = df.drop(columns=['name','id' ,'host_id','host_name', 
                                   'last_review','price'])

In [32]:
mean = df['reviews_per_month'].mean()
df['reviews_per_month'].fillna(mean, inplace=True)

In [33]:
df_x = df.iloc[:,:-1]
df_x

       neighbourhood_group  ...  availability_365
0                        1  ...               365
1                        2  ...               355
2                        2  ...               365
3                        1  ...               194
4                        2  ...                 0
...                    ...  ...               ...
48890                    1  ...                 9
48891                    1  ...                36
48892                    2  ...                27
48893                    2  ...                 2
48894                    2  ...                23

[48895 rows x 10 columns]

In [34]:
df_y = df.iloc[:,-1]
df_y

0        5.010635
1        5.420535
2        5.017280
3        4.499810
4        4.394449
           ...
48890    4.262680
48891    3.713572
48892    4.753590
48893    4.025352
48894    4.510860
Name: price_log, Length: 48895, dtype: float64

In [35]:
# normalização

scaler = StandardScaler()
df_x = scaler.fit_transform(df_x)

In [36]:
# divisão

X_train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.3, random_state=42)

# code

In [37]:
from sklearn.neighbors import KNeighborsRegressor
knn_model = KNeighborsRegressor(n_neighbors=3)

In [38]:
knn_model.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=3)

In [39]:
y_pred_knn = knn_model.predict(X_test)

In [40]:
print('RMSE: %f'% np.sqrt(metrics.mean_squared_error(y_test,y_pred_knn)))   
print('R2 %f' % r2_score(y_test, y_pred_knn))

RMSE: 0.490583
R2 0.490779