# **Checklist**

o que falta fazer: 

- construir gráficos para a análise desses dados
- ver se precisa tirar algum outlier (dados discrepantes ou inconsistentes) -> *acho que não precisa pq o outlier que tem é justamente no preço e nós não vamos usar essa coluna*
- transformação dos dados usando algum encoder (transformar categóricos em numéricos)
- dividir em treino e teste (em porcentagem, ex: 20 pra teste e 80 pra treino)
- previsão do preço
- regressão linear
- gráficos sobre os ultimos 2
- finalizar com comentários

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
import csv
import plotly.express as px

In [2]:
df = pd.read_csv("/content/AB_NYC_2019.csv")

In [3]:
df

             id  ... availability_365
0          2539  ...              365
1          2595  ...              355
2          3647  ...              365
3          3831  ...              194
4          5022  ...                0
...         ...  ...              ...
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[48895 rows x 16 columns]

In [4]:
df.sample(2)

             id  ... availability_365
40082  31119139  ...               63
35926  28539464  ...              229

[2 rows x 16 columns]

In [5]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [6]:
df.describe()

                 id  ...  availability_365
count  4.889500e+04  ...      48895.000000
mean   1.901714e+07  ...        112.781327
std    1.098311e+07  ...        131.622289
min    2.539000e+03  ...          0.000000
25%    9.471945e+06  ...          0.000000
50%    1.967728e+07  ...         45.000000
75%    2.915218e+07  ...        227.000000
max    3.648724e+07  ...        365.000000

[8 rows x 10 columns]

**iremos fazer a previsão do preço a partir dos restantes dos dados**

previsão: price

colunas de base: 
  - neighbourhood_group, neighbourhood, room_type *(categoricos)*
  - minimum_nights, number_of_reviews, reviews_per_month,		calculated_host_listings_count, availability_365 *(numéricos)*


  os dados categóricos teremos que transformar para numéricos
  não sei se todas essas colunas vão ser relevantes..falta analisar isso

# --- Limpeza dos Dados ---

In [7]:
# checagem de valores nulos no df
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [8]:
# retirando os valores nulos para a coluna 'name'

df.dropna(subset = ['name'], inplace = True) # o inplace é pra garantir que o df atualize os dados substituídos
df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10042
reviews_per_month                 10042
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [9]:
# retirando os valores nulos para a coluna 'host_name'

df.dropna(subset = ['host_name'], inplace = True)
df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10037
reviews_per_month                 10037
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [10]:
# análise dos valores nulos para number_of_reviews
df.loc[df['number_of_reviews'] == 0].head()

       id  ... availability_365
2    3647  ...              365
19   7750  ...              249
26   8700  ...                0
36  11452  ...              365
38  11943  ...              365

[5 rows x 16 columns]

In [11]:
# substituindo os valores NaN da coluna reviews_per_month para 0

df['reviews_per_month'] = df['reviews_per_month'].fillna(0.0)

In [12]:
# fazendo a checagem apos a limpeza

df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10037
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

# --- Transformação dos Dados (tá errado por enquanto) ---

In [17]:
X_teste = df.iloc[:, [4, 5, 8, 9, 10, 11, 13, 14, 15]].values
X_teste

array([['Brooklyn', 'Kensington', 'Private room', ..., 0.21, 6, 365],
       ['Manhattan', 'Midtown', 'Entire home/apt', ..., 0.38, 2, 355],
       ['Manhattan', 'Harlem', 'Private room', ..., 0.0, 1, 365],
       ...,
       ['Manhattan', 'Harlem', 'Entire home/apt', ..., 0.0, 1, 27],
       ['Manhattan', "Hell's Kitchen", 'Shared room', ..., 0.0, 6, 2],
       ['Manhattan', "Hell's Kitchen", 'Private room', ..., 0.0, 1, 23]],
      dtype=object)

In [18]:
y_teste = df.iloc[:,9].values

In [19]:
from sklearn.preprocessing import LabelEncoder

X_neighbourhood_group = LabelEncoder()
X_neighbourhood = LabelEncoder()
X_room_type = LabelEncoder()

In [20]:
X_teste[:,4] = X_neighbourhood_group.fit_transform(X_teste[:,4])
X_teste[:,5] = X_neighbourhood.fit_transform(X_teste[:,5])
X_teste[:,8] = X_room_type.fit_transform(X_teste[:,8])

X_teste

array([['Brooklyn', 'Kensington', 'Private room', ..., 0.21, 6, 365],
       ['Manhattan', 'Midtown', 'Entire home/apt', ..., 0.38, 2, 355],
       ['Manhattan', 'Harlem', 'Private room', ..., 0.0, 1, 365],
       ...,
       ['Manhattan', 'Harlem', 'Entire home/apt', ..., 0.0, 1, 27],
       ['Manhattan', "Hell's Kitchen", 'Shared room', ..., 0.0, 6, 2],
       ['Manhattan', "Hell's Kitchen", 'Private room', ..., 0.0, 1, 23]],
      dtype=object)