In [11]:
%load_ext lab_black
import nb_black
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation, NMF
import random

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [6]:
npr = pd.read_csv("npr.csv")
npr

                                                 Article
0      In the Washington of 2016, even when the polic...
1        Donald Trump has used Twitter  —   his prefe...
2        Donald Trump is unabashedly praising Russian...
3      Updated at 2:50 p. m. ET, Russian President Vl...
4      From photography, illustration and video, to d...
...                                                  ...
11987  The number of law enforcement officers shot an...
11988    Trump is busy these days with victory tours,...
11989  It’s always interesting for the Goats and Soda...
11990  The election of Donald Trump was a surprise to...
11991  Voters in the English city of Sunderland did s...

[11992 rows x 1 columns]

In [7]:
tf_idf = TfidfVectorizer(max_df=0.95, min_df=2, stop_words="english")
dtm = tf_idf.fit_transform(npr.Article)

In [12]:
nmf_model = NFM(n_components = 7, random_state = 42)

NameError: name 'NFM' is not defined